<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>374777854318-8i400bu1nt2ca5so41rv5t10il5kab5j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374777854318-8i400bu1nt2ca5so41rv5t10il5kab5j</string>
	<key>API_KEY</key>
	<string>AIzaSyAIxevN15FWmZBe9wEjnZudNObyoR32nHc</string>
	<key>GCM_SENDER_ID</key>
	<string>374777854318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.simasjid</string>
	<key>PROJECT_ID</key>
	<string>simasjid-c9ebd</string>
	<key>STORAGE_BUCKET</key>
	<string>simasjid-c9ebd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374777854318:ios:2857d963feb98452a8297f</string>
</dict>
</plist>